[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
seaborn = "*"

[dev-packages]
ipython = "*"

[requires]

[scripts]
startnp = "python study_numpy.py"
startpd = "python study_pandas.py"
